params {
    // Input data
    h5_file    = "data/visium_breast/V1_Breast_Cancer_Block_A_Section_1_filtered_feature_bc_matrix.h5"
    spatial_dir = "data/visium_breast/spatial"
    ref_dir    = "data/reference/Wu_etal_2021_BRCA_scRNASeq"

    // Output
    outdir     = "results"

    // Kaggle
    kaggle_kernel = "parihartushar/spatialbridge-deconvolution"
    kaggle_dataset = "parihartushar/spatial-transcriptomics-dataset"
}

process {
    cpus   = 4
    memory = '16 GB'
    
    withName: 'QC' {
        cpus   = 2
        memory = '8 GB'
    }
    withName: 'NORMALIZE' {
        cpus   = 2
        memory = '8 GB'
    }
    withName: 'CLUSTER' {
        cpus   = 4
        memory = '16 GB'
    }
    withName: 'TME' {
        cpus   = 4
        memory = '16 GB'
    }
}

profiles {
    cdac {
        process.executor = 'local'
    }
}
